{% if 1 == 0 %}
<div class="row product-section">
  <div class=" col-12 col-md-10 offset-md-1">
    <h4 class="title text-left mb-2">HOW OTHERS ARE WEARING IT</h4>
  </div>
</div>
<div class="row insta-items">
  <div class="col-2 offset-1 insta-item">
    <img src="https://cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Nursing_OverBust_Support_Tank_WinterWhite_1_1ced0cd9-b617-4e46-b1dd-45139acfe472_400x.jpg" alt="{{ image }}">
  </div>
  
  <div class="col-2 insta-item">
    <img src="https://cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Nursing_OverBust_Support_Tank_WinterWhite_1_1ced0cd9-b617-4e46-b1dd-45139acfe472_400x.jpg" alt="{{ image }}">
  </div>
  
  <div class="col-2 insta-item">
    <img src="https://cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Nursing_OverBust_Support_Tank_WinterWhite_1_1ced0cd9-b617-4e46-b1dd-45139acfe472_400x.jpg" alt="{{ image }}">
  </div>
  
  <div class="col-2 insta-item">
    <img src="https://cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Nursing_OverBust_Support_Tank_WinterWhite_1_1ced0cd9-b617-4e46-b1dd-45139acfe472_400x.jpg" alt="{{ image }}">
  </div>
  
  <div class="col-2 insta-item">
    <img src="https://cdn.shopify.com/s/files/1/0169/0840/products/BLANQI_Nursing_OverBust_Support_Tank_WinterWhite_1_1ced0cd9-b617-4e46-b1dd-45139acfe472_400x.jpg" alt="{{ image }}">
  </div>
</div>
{% endif %}