{% for link in linklists[mobile-menu].links %}
	{% if link.title == 'Shop' %}

<div class="blanqi-mobile-drop"><a class='blanqi-open-sub'>Shop</a>
            <ul class="blanqi-dropdown-column">
              <li class="parent-holder">
                <div class="blanqi-sublink">CATEGORIES</div>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/support-tops" class="blanqi-sublink blanqi-sub-mobile">Support Tops</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/leggings" class="blanqi-sublink blanqi-sub-mobile">Support Leggings</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/support-bands/" class="blanqi-sublink blanqi-sub-mobile">Support Bands</a>
              </li>
            </ul>
            
            <ul class="blanqi-dropdown-column">
              <li class="parent-holder">
                <div class="blanqi-sublink">LIFESTYLE</div>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/womens" class="blanqi-sublink blanqi-sub-mobile">Women</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/maternity-supportwear" class="blanqi-sublink blanqi-sub-mobile">Maternity</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/womens" class="blanqi-sublink blanqi-sub-mobile">Postpartum</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/nursing" class="blanqi-sublink blanqi-sub-mobile">Nursing</a>
              </li>
            </ul>
            
            <ul class="blanqi-dropdown-column">
              <li class="parent-holder">
                <div class="blanqi-sublink">ACTIVITY</div>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/running" class="blanqi-sublink blanqi-sub-mobile">Running</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/2017-yoga-training-cycle" class="blanqi-sublink blanqi-sub-mobile">Yoga</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/2017-yoga-training-cycle" class="blanqi-sublink blanqi-sub-mobile">Training</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/collections/2017-yoga-training-cycle" class="blanqi-sublink blanqi-sub-mobile">Cycle</a>
              </li>
            </ul>
</div>
<div class="blanqi-mobile-drop"><a class='blanqi-open-sub'>HOW IT WORKS</a>
            <ul class="blanqi-dropdown-column">
              <li class="parent-holder">
                <div class="blanqi-sublink">MATERNITY</div>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/maternity-bellyband-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Bellyband</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/maternity-leggings-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Leggings</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/maternity-overbust-tanktop-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Overbust Tanktop</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/maternity-underbust-tanktop-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Underbust Tanktop</a>
              </li>
            </ul>
            
            <ul class="blanqi-dropdown-column">
              <li class="parent-holder">
                <div class="blanqi-sublink">POSTPARTUM</div>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/nursing-leggings-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Leggings</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/nursing-overbust-tanktop-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Overbust Tanktop</a>
              </li>
              <li>
                <a href="https://www.blanqi.com/pages/nursing-underbust-tanktop-learn-more" class="blanqi-sublink blanqi-sub-mobile"> Underbust Tanktop</a>
              </li>
            </ul>
</div>
  {% else %}
    {% if linklists[link.handle] == empty %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% else %}
    <li class="sublink"><a data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></a>
      <ul>
        {% for link in linklists[link.handle].links %}
        {% if linklists[link.handle] == empty %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% else %}
        <li class="sublink"><a data-no-instant href="{{ link.url }}">{{ link.title }} <span class="right icon-down-arrow"></span></a>
          <ul>
            {% for link in linklists[link.handle].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  {% endif %}
{% endfor %}