<div class="row">
{% for block in section.blocks %}
   <div class="col-lg-3 col-md-6 col-6 p-0 {% if block.settings.hide_mobile%}d-none d-md-block{% endif %}">
      <div class="holiday-giveaway-img" style="background-image: url({{ block.settings.image | img_url: '800x' }});"></div>
   </div>
{% endfor %}
</div>

<div id="font-overlay"></div>
<!-- Pop Up -->
<!-- The Modal -->
<div class="holiday-giveaway-popup-container">
   <div class="modalx fadex bd-example-modal-lg holiday-giveaway-popup">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
         <!-- Modal Header -->
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <!-- Modal body -->
         <div class="modal-body">
         <form id="email_signup_holidaygiveaway" class="klaviyo_styling klaviyo_gdpr_embed_Mckty4" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
         <input type="hidden" name="g" value="Mckty4">
         <input type="hidden" name="$fields" value="$consent,BLANQI Giveaway">
         <input type="hidden" name="$list_fields" value="$consent">
            <div class="welcome-blanqis"><span class="hide-mobile767">WELCOME TO</span> BLANQI’S</div>
            <h1 class="popup-heading">{{ section.settings.title }}</h1>
            <p class="subtitle-wrapper">{{ section.settings.subtitle }}</p>
           <div class="showform" style="display:none;">
           		<input class="popup-email-input" id="k_id_email" name="email" type="email" placeholder="Email">
               <button type="submit" class="btn enter-email">{{ section.settings.btn_text }}</button>
             </div>
           <button type="button" class="showform-btn btn enter-email">{{ section.settings.btn_text }}</button>
               <p class="popup-text-cl">{{ section.settings.text }}</p>
           	<label class="klaviyo_form_actions d-none" for="klaviyo_form_blanqi_giveaway">BLANQI GIVEAWAY</label>
			<input class="klaviyo_form_actions d-none" id="klaviyo_form_blanqi_giveaway" type="text" name="BLANQI GIVEAWAY" value="Decemer 2020" />
         </form>
         </div>
         </div>
      </div>
   </div>
</div> 


<script>
  
   $(document).ready(function(){
     var urlParams = new URLSearchParams(window.location.search); //get all parameters
     var overlay = urlParams.get('overlay'); //extract the foo parameter - this will return NULL if foo isn't a parameter
     if(overlay == 'yes') {
       console.log('yep');
       $('#font-overlay').show();
     }
     
      $('.holiday-giveaway-popup-container .close').click(function(){
         $('.holiday-giveaway-popup-container').fadeOut();
      });
     $('.showform-btn').click(function(){
     	$(this).hide();
       $(this).prev('div').show();
     });
   })
</script>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_holidaygiveaway', {
     hide_form_on_success: true,
     success_message: "You're all set!",
     extra_properties: {
        'BLANQI Giveaway': 'December 2020',
        'Accepts Marketing': 'true'
     },
    success: function ($form) {
      console.log('new form behavior');
      $('.showform').html("<h2>You're all set!</h2>").css('padding','32px 0');
    }
  });
</script>
<style>
  .klaviyo_condensed_styling, .klaviyo_styling { max-width: 100% !important; }
  #font-overlay {
    display:none;
    position:fixed;
    z-index:1000000;
    top:120px;
    left:50%;
    margin-left:-500px;
    width:1000px;
    background:url(https://cdn.shopify.com/s/files/1/0169/0840/files/BLANQI_Holiday_Giveaway_Landing_Page_Desktop.png?v=1607460582) center top no-repeat;
    background-size: 100% auto;
    height:1000px;
    opacity:0.5;
  }
</style>
{% schema %}
   {
      "name": "Holiday Giveaway",
      "class": "container-fluid custom-holiday-giveaway-template",
      "settings":[
         {
            "type":"text",
            "id":"title",
            "label":"Title"
         },
         {
            "type":"text",
            "id":"subtitle",
            "label":"Subtitle"
         },
         {
            "type":"textarea",
            "id":"text",
            "label":"Text"
         },
         {
            "type":"text",
            "id":"btn_text",
            "label":"Button Text"
         }
      ],
      "blocks": [
         {
            "type":"image",
            "name":"Image",
            "settings":[
               {
                  "type":"image_picker",
                  "id":"image",
                  "label":"Image"
               },
               {
                  "type":"checkbox",
                  "id":"hide_mobile",
                  "label":"Hide on mobile",
                  "default":false
               }
            ]
         }
      ]
   }
{% endschema %}