<div class="row faq-template custom-faq-template">
  <div id="accordion" class="col-12" id="custom-sidebar">
    <div class="breadcrumb-collection" style="display: none;">
      <div class="breadcrumb_text" style="margin-left: 0">
        <span>
          <a href="https://www.blanqi.com" title="BLANQI" class="breadcrumb_link">
            <span>HOME</span>
          </a>
        </span>
        <span class="breadcrumb-divider">/</span>
        <span>
          <a href="/pages/giveaways" title="Shop" class="breadcrumb_link">
            <span>GIVEAWAYS</span>
          </a>
        </span>
      </div>
    </div>
    
    <div class="terms-content">
   {%- comment -%}
      {{ page.content }}
    {%- endcomment -%}
<div class="giveaway-wrapper">
  <div class="giveaway-col">
    <div class="giveaway-images">
      <div style="background-image: url({{ 'img1.jpg' | asset_url }});"></div>
      <div style="background-image: url({{ 'img2.jpg' | asset_url }});"></div>
      <div style="background-image: url({{ 'img3.jpg' | asset_url }});"></div>
    </div>
  </div>

  <div class="giveaway-content-wrapper">
    <div class="giveaway-content">
      <div class="top-line">WORLD BREASTFEEDING WEEK <span>2021</span></div>
      <div class="giveaway-heading">Feel. Good. <span>Giveaway.</span></div>
      <div class="mid-content">
        <span>Win the covet list of slings, bottles & supportwear galore, valued at $2,198! </span> <br>
Prize includes; 2 x $500 gift cards from BLANQI® and Happiest Baby; <br>
2 x $250 gift cards from RAGS and Wildbird; $504 worth of Parasol Co. <br>
(6) VIP boxes of diapers and $194 worth of Comotomo Gift sets and teethers.
      </div>
      <div class="bottom-content">
        Giveaway runs from 8/5/2021 at 8pm EST until 8/12/2021 at midnight EST. One lucky winner <br>
will be selected at random. Must be 18 or older. Open to US entrants only.
      </div>
      <div class="giveaway-cta">
        <a href="https://gleam.io/NwWpD/blanqi-giveaway-breastfeeding-week" rel="nofollow">ENTER TO WIN</a>
      </div>
    </div>

  </div>

  <div class="giveaway-col">
    <div class="giveaway-images">
      <div style="background-image: url({{ 'img4.jpg' | asset_url }});"></div>
      <div style="background-image: url({{ 'img5.jpg' | asset_url }});"></div>
      <div style="background-image: url({{ 'img6.jpg' | asset_url }});"></div>
    </div>
  </div>


</div>
    </div>
  </div>
</div>
