{{ 'landing-pages.scss.css' | asset_url | stylesheet_tag }}
<div class="blanqi-styles-wrap our-story">

  <p class="preheader">THE ORIGINAL BLANQI GIRLS</p>
  <h1>INVENTORS &amp; INNOVATORS</h1>
  <p>
    Intro copy to go here. Ubit ullaut volest 
    la de de dolumquamus, sitatur. Onsequo 
    dionecto elicto dolar lego.
  </p>
  
  <div class="imgset-1">
    <img src="{{ 'ourstory-1.jpg' | file_img_url: '600x' }}" />
    <caption>PHOTO CAPTION GO HERE</caption>
  </div>
  
  <h1>BRIEF ABOUT VALERIE &amp; SABINA</h1>
  <h1>COPY TO GO IN THIS SPACE</h1>
  <p>
	Mus ducibus susquis. Ulos adem ilibus 
    perfestrit? At diis ad sed igna, nerem 
    poridet; estrum ta vidii poenatat, Catusa 
    mus aucia tus, cur. Nam iae rei pos inum 
    aperracchil con serumun tilicaedem dicae 
    cae fir addum sendita, ditem Romnius, num 
    andum caverid pratam ipionsula Serem
  </p>
  
  <hr/>
  
  <div class="imgset-2--1">
    <img src="{{ 'ourstory-2.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-2.jpg' }}"/>
    <img src="{{ 'ourstory-3.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-3.jpg' }}"/>
  </div>
  <div class="imgset-2--2">
    <img src="{{ 'ourstory-4.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-4.jpg' }}"/>
    <caption>PHOTO CAPTION GO HERE PHOTO CAPTION TO GO IN HERE</caption>
  </div>
  
  <div class="imgset-3">
    <caption>PHOTO CAPTION GO HERE PHOTO CAPTION TO GO IN HERE</caption>
    <img src="{{ 'ourstory-5.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-5.jpg' }}"/>
  </div>
  
  <div class="imgset-4--1">
    <img src="{{ 'ourstory-6.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-6.jpg' }}"/>
  </div>
  <div class="imgset-4--2">
    <img src="{{ 'ourstory-7.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-7.jpg' }}"/>
    <caption>PHOTO CAPTION GO HERE PHOTO CAPTION</caption>
  </div>
  
  <p class="preheader">HISTORY SUBHEADLINE</p>
  <h1>THE BEGINNINGS OF BLANQI</h1>
  <p>
  	Mus ducibus susquis. Ulos adem ilibus 
    perfestrit? At diis ad sed igna, nerem 
    poridet; estrum ta vidii poenatat, Catusa
    mus aucia tus, cur. Nam iae rei pos inum
    aperracchil con serumun tilicaedem dicae
    cae fir addum sendita, ditem Romnius, num
    andum caverid pratam ipionsula Serem
  </p>
  
  <div class="imgset-5">
    <img src="{{ 'ourstory-8.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-8.jpg' }}"/>
  </div>
  
  <div class="col-2">
    <h2>Subheadline goes here</h2>
	<p>
      The girls spent early mornings and late
      nights researching and investigating
      every corner of every library ,bookstore,
      and websites available to learn the ins
      and outs of how to start a business. With
      Valerie having trained extensively and
      just started her career as a hairdresser
      at one of the most prestigious salons in
      the country, and Sabina, midway through
      her Masters in Latin American literature
      and linguistics and beginning her career
      as a legal translator, they girls certainly
      had no background in entreprenuership. They
      drew upon their passion, determination, and
      ....to make it happen....
    </p>
    <p>
      As fate/luck would have it, Valerie knew
      from growing up in textiles and being taken
      to the mills and factories as a little girl
      by her father, that hosiery machines had the
      ability to knit butt-lift in pantyhose. That
      same circular knitting technology existed
      using seamless knitting machines, so why not
      just strategically place the stitches in the
      front to create belly lift and support? They
      found a manufacturer willing to take them on
      and they started the production process.
    </p>
    <h2>Subheadline goes here</h2>
    <p>
      Sabina knew right away this was an original,
      functional design that had to be patented.
      With the guidance of her brother, an
      intellectual property attorney, and many
      hours studying the law and legalese, she
      drafted what was to become BLANQI’s first
      patent . In addition to securing a patent,
      she wanted to make sure they established a
      very solid, foundation of the business, being
      secured and protected from every angle. The
      girls ensured that everyone signed a
      non-disclosure before
    </p>
    
    <hr class="read-more"/>
    <button>READ MORE</button>
  </div>
  
  <p class="preheader">SUBHEADLINE</p>
  <h1>BLANQI NOW HEADLINE</h1>
  <p>
  	Mus ducibus susquis. Ulos adem ilibus
    perfestrit? At diis ad sed igna, nerem
    poridet; estrum ta vidii poenatat, Catusa
    mus aucia tus, cur. Nam iae rei pos inum
    aperracchil con serumun tilicaedem dicae
    cae fir addum sendita, ditem Romnius, num
    andum caverid pratam ipionsula Serem
  </p>
  
  <div class="imgset-5">
    <img src="{{ 'ourstory-9.jpg' | file_img_url: '600x' }}" alt="{{ 'ourstory-9.jpg' }}"/>
    <caption>PHOTO CAPTION GO HERE</caption>
  </div>
</div>